# 敏感文件
all_proxies.txt
auth_proxies.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 日志
*.log

# 临时文件
tmp_*
temp_*
